.wrapper{
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    border:  solid green;
}
.wrapper h2{
    text-align: center;
}
.wrapper .link {
    display: block;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.35em;
    padding: 12px 10px 10px;
    color: #566473;
    text-shadow: none;
    font-weight: 700;
}